#circle{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: blueviolet;
    margin: 25px 0 25px 25px;
}

#triangle{
    display: block;
    width: 0px; 
    height: 0px;
    border-top: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin: 25px 0 25px 25px;
}

#pacman {
    display: block;
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid red;
    border-left: 60px solid red;
    border-bottom: 60px solid red;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 25px 0 25px 25px;
  }