*{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;

}

#wrapper{
    background-color: #062134;
    margin: 25px auto;
    width: 940px;
    height: 1070px;
}

#header-left{
    display: inline-block;
    width: 345px;
    height: 80px;
}
#header-left h1{
    vertical-align: top;
    color: white;
    margin-top: 25px;
    margin-left: 35px;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}
#header-left span{
    color: #1b98e7;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

#header-right{
    display: inline-block;
    position: relative;
    height: 80px;
    width: 480px;
}

#header-right ul{
    margin-left: 58px;
}
#header-right li{
    display: inline-block;
    margin: 17px;
    list-style: none;
}

#header-right a {
    color: white;
    text-decoration: none;
}

#main-content{
    width: 885px;
    height: 630px;
    background-color: white;
    margin: 0px auto;
}

#main-content img:first-of-type{
    margin: 20px 2px 0 20px;
}

.blueBox{
    display: inline-block;
    background-color: #1468a8;
    height: 220px;
    width: 266px;
    margin-top: 15px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.blueBox h2{
    display: inline-block;
    position: relative;
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: -10px;
}
.blueBox img{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle,  white 69%,#1468a8 15%);
}

.blueBox p{
    color: white;
    margin: 0 30px 0 30px;
    font-size: 11px;
}

.moreInfo{
    background: linear-gradient(#44abec, #1993de) ;
    border-radius: 5px;
    width: 135px;
    height: 40px;
    border-style: none;
    color: white;
    font-size: 16px;
    margin: 12px 0 10px 25px;
}

#bottom-content{
    width: 885px;
    height: 265px;
    background-color: white;
    margin: 0px auto;
}

#bottom-content h1{
    display: inline-block;
    color: #0d283a;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0 0 20px;
    padding-top: 25px;
    font-size: 25px;
}

#bottom-content h1:nth-child(2){
    margin-left: 228px;
}

#bottom-content img{
    margin: 10px 0 0 20px;
    width: 280px;
}

#bubble 
{
position: relative;
width: 250px;
height: 90px;
padding: 0px;
background: #daedff;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

#bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #daedff transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 44px;
}

#bottom-content p{
    display: inline-block;
    vertical-align: top;
    width: 265px;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 20px;
    color: #1d3647;
}

#bottom-content a{
    color:#3d759d;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-top: 5px;
}

#bottom-content h4{
    vertical-align: top;
    width: 220px;
    display: inline-block;
    font-style: italic;
    color: #1d3647;
    background-color: #daedff; 
    margin: 15px 0 0 25px; 
}

#bottom-content span{
    display: inline-block;
    width: 220px;
    color: #1d3647;
    background-color: white;
    font-size: 13px;
    font-style: normal;
}

#footer{
    width: 885px;
    height: 50px;
    background-color: white;
    margin: 1px auto 28px;
}

#footer ul{
    display: inline-block;
    margin-left: 250px;

}
#footer li{
    display: inline-block;
    margin: 17px;
    list-style: none;
}

#footer a{
    color: #5588ad;
    text-decoration: none;
}